#box-0 {
    grid-area: zero;
}

#box-1 {
    grid-area: one;
}

#box-2 {
    grid-area: two;
}

#box-3 {
    grid-area: three;
}

#box-4 {
    grid-area: four;
}

#box-5 {
    grid-area: five;
}

#box-6 {
    grid-area: six;
}

#box-7 {
    grid-area: seven;
}

#box-8 {
    grid-area: eight;
}

#box-9 {
    grid-area: nine;
}
#box-dot {
    grid-area: dot;
}

#box-add {
    grid-area: add;
}

#box-minus {
    grid-area: minus;
}

#box-multiply {
    grid-area: multiply;
}

#box-division {
    grid-area: divide;
}

#box-clear {
    grid-area: clear;
}

#box-display {
    grid-area: display;
}
#box-equals {
    grid-area: equals;
}




.cal {
    display: grid;
    grid-template-areas:
        'display display display display display'
        'seven eight nine clear clear'
        'four  five six  multiply divide'
        'one two three add minus'
        'zero zero dot add equals '
    ;

    background-color: rgb(127, 127, 175);
    width: 400px;
    /* height: 400px; */
    margin: auto;
    border: 1px solid black;
    
}

.box {
 
    color: white;
    background-color: rgb(0, 128, 128,0.5);
    text-align: center;
    border: 1px solid black;
   /* border-collapse: collapse; */
    padding: 10px 0;
    font-size: large;
}

.box:hover {
    background-color: cadetblue;
}
#box-add{
    /* padding: 20% 0; */
    font-size: xx-large;
}
#box-minus, .box-dot, .box-multiply{
    font-size: x-large;
}
/* .box-0, .box-equals{
 padding: 40px 0;
} */
#box-display{
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    text-align: end;
    height:50px;
    font-size: 30px;
}
#box-display:hover{
    background-color: floralwhite;
}
#first{
align-self: flex-end;
margin-bottom: -10px;
}
#second{
    align-self: flex-start;
    color: brown;  
    margin-top: -10px;
    font-size: 20px;
}