
.container{
    width: 100vw;
    height: 600px;
    background-color: aquamarine;

}
.container h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box-0 {
    grid-area: zero;
}

.box-1 {
    grid-area: one;
}

.box-2 {
    grid-area: two;
}

.box-3 {
    grid-area: three;
}

.box-4 {
    grid-area: four;
}

.box-5 {
    grid-area: five;
}

.box-6 {
    grid-area: six;
}

.box-7 {
    grid-area: seven;
}

.box-8 {
    grid-area: eight;
}

.box-9 {
    grid-area: nine;
}
.box-dot {
    grid-area: dot;
}

.box-add {
    grid-area: add;
}

.box-minus {
    grid-area: minus;
}

.box-multiply {
    grid-area: multiply;
}

.box-division {
    grid-area: divide;
}

.box-clear {
    grid-area: clear;
}

.box-display {
    grid-area: display;
}
.box-equals {
    grid-area: equals;
}




.cal {
   
    display: grid;
    grid-template-areas:
        'display display display display display'
        'seven eight nine clear clear'
        'four  five six  multiply divide'
        'one two three add minus'
        'zero zero dot add equals '
    ;
    grid-gap: 2px;

    width: 80vw;
    height: 60%;
    margin: auto;
    

    background-color: rgb(0, 0, 0);
    border: 2px solid black;
  
    
}
 
.box {
 
    color: white;
    background-color: rgb(0, 128, 128,0.8);
    text-align: center;
    padding-top: 30%;
    font-size: large;
}

.box:hover {
    background-color: cadetblue;
    cursor: pointer;
}
.box-add{
    padding-top: 75%;
    font-size: xx-large;
}
.box-minus, .box-dot, .box-multiply{
    font-size: x-large;
}
.box-clear{
    
    padding-top: 15%;
    padding-bottom: 5%;
}

.box-display{
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    text-align: end;
    height:60px;
    font-size: 30px;
    margin-bottom: -6%;
    padding:5% 0;
}
.box-display:hover{
    background-color: floralwhite;
}
#first{
align-self: flex-end;
margin-bottom: -10px;
}
#second{
    align-self: flex-start;
    color: brown;  
    margin-top: -10px;
    font-size: 20px;
}

@media only screen and (min-width:600px){
    .container{
        width: 80%;
        margin: auto;
    }
    .cal{
        width: 80%;
        height: 70%;
        margin: auto;
    }
    .box-display{
        margin-bottom: -2%;

    }

}

@media only screen and (min-width:769px){
        .container{
            width: 100vw;
            height: 80vh;
            margin: auto;
            
        }
        .cal{
            width: 80%;
            height: 80%;
         
            margin: auto;
        }
    
        .box-display{
            margin-bottom: -11%;
    
        }
}

